* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    /* height: max-content; */
    overflow: scroll;
    scrollbar-width: none;
}

body {
    width: 100%;
    height: max-content;
    /* border: solid 10px; */
}

/* navbar */
.container1 {
    position: fixed;
    border: solid red 10px;
    height: 12dvh;
    z-index: 1;

    .row1 {
        border: dashed darksalmon;
        height: 100%;

        a {
            color: chartreuse;
            text-decoration: none;
        }

        /* nav-brand */
        .row1-col1 {
            border: solid saddlebrown;
            display: flex;
            align-items: center;
        }

        /* navber-menu */
        .row1-col2 {
            border: solid saddlebrown;

            .row1-col2-row1 {
                border: dashed darkblue;
                height: 100%;

                .row1-col2-row1-col1,
                .row1-col2-row1-col2,
                .row1-col2-row1-col3,
                .row1-col2-row1-col4,
                .row1-col2-row1-col5,
                .row1-col2-row1-col6 {
                    border: solid darkmagenta;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                }

            }
        }

        /* hamburger menu */
        .row1-col3 {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .container1 {
        .row1 {

            /* navber-menu */
            .row1-col2 {
                display: none;
            }

            /* hamburger menu */
            .row1-col3 {
                display: flex;
                justify-content: end;
                align-items: center;
                border: solid saddlebrown;

                .fa-solid {
                    color: chartreuse;
                    cursor: pointer;
                }
            }
        }
    }
}

/* hamburger toggle menu */
.container2 {
    .row1 {

        .row1-col1 {
            position: fixed;
            top: 0;
            right: -10000px;
            border: solid darkred 5px;
            height: 100dvh;
            z-index: 3;

            .row1-col1-row1 {
                height: 100%;
                border: dashed darkcyan;
                justify-content: end;

                .row1-col1-row1-col1 {
                    border: solid wheat;
                    height: 300px;

                    .row1-col1-row1-col1-row1 {
                        justify-content: end;
                        position: relative;
                        border: solid wheat;
                        height: 20%;

                        .row1-col1-row1-col1-row1-col1 {
                            color: chartreuse;
                            cursor: pointer;
                            border: solid salmon;
                            width: max-content;
                            height: max-content;
                            position: relative;
                            top: 12px;
                        }
                    }

                    .row1-col1-row1-col1-row2 {
                        justify-content: center;
                        height: 80%;
                        border: solid;
                        align-items: center;
                        .row1-col1-row1-col1-row2-col1 {
                            border: dashed wheat;
                            display: flex;
                            align-items: center;
                            height: 100%;


                            flex-direction: column;
                            li {
                                list-style-type: none;
                                margin-top: 12%;
                            }
                            
                            li a {
                                text-decoration: none;
                                color: chartreuse;
                            }   
                        }
                    }
                }
            }
        }
    }
}

.container3 {
    height: 200dvh;
    border: solid blue 5px;
    position: relative;

    .row1 {
        height: 100%;
        border: solid 5px orange;

        .row1-col1 {
            border: dashed red 5px;
            height: 100%;
            margin: 0;
            padding: 0;
        }

    }
}